# Xcode
# Build generated
build/
DerivedData/

# User-specific settings
xcuserdata/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3

# Archives and Debugging
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.swiftpm/
.build/
# Packages/
# Package.resolved

# CocoaPods (Optional: Ignore if you prefer not to check in pods)
# Pods/

# macOS system files
.DS_Store

xxt-swift/Sources/XXTTest/*.html

# .NET / Windows project
HomeworkToDo.Windows/**/bin/
HomeworkToDo.Windows/**/obj/
HomeworkToDo.Windows/**/*.user
HomeworkToDo.Windows/**/publish/
